.shop-category {
  width: 80%;
  margin: 0 auto;
}

.shop-category-banner {
  display: block;
  margin: 30px auto;
  width: 100%;
}

.shope-category-index-sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.shope-category-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}
